<div class="bg-image">
  <div *ngIf="showLoginForm">
    <form (ngSubmit)="login()" [formGroup]="loginForm" >
      <div class="container float-right mx-5 mt-5">
        <div class="row">
          <div class="col-md-6 offset-6">
            <div>
              <label for="Email"><b>Username</b></label>
              <input type="text" formControlName="Email" placeholder="Enter Email" name="Email" required>
            </div>
            <div>
              <label for="Password"><b>Password</b></label>
              <input type="password" formControlName="Password" placeholder="Enter Password" name="Password" required>
            </div>
            <div>
              <label>
                <input formControlName="RememberMe" type="checkbox" checked="checked" name="remember"> Remember me
              </label>
            </div>
            <div>
              <button [disabled]="!this.loginForm.valid" type="submit">Login</button>
            </div>
            <div>
              <label>
                Don't have account? <a class="pointer" (click)="ChangeForm('signup')">Sign In</a>
              </label>
            </div>
          </div>
        </div>
      </div>
    </form>
  </div>



  <div *ngIf="showSignupForm">
    <form (ngSubmit)=login(loginform) #signinform="ngForm">
      <div class="container float-right mx-5 mt-10">
        <div class="row">
          <div class="col-md-4 offset-8">
            <div>
              <label for="FirstName"><b>User</b></label>
              <input type="text" placeholder="Enter Email" name="UserEmail" [(ngModel)]="UserEmail" required>
            </div>
            <div>
              <label for="Password"><b>Password</b></label>
              <input type="password" placeholder="Enter Password" name="Password" [(ngModel)]="Password" required
                minlength="5">
            </div>
            <div>
              <label>
                <input type="checkbox" checked="checked" name="remember"> Remember me
              </label>
            </div>
            <div>
              <button [disabled]="!signinform.valid" type="submit">Login</button>
            </div>
            <div>
              <label>
                Already have account? <a class="pointer" (click)="ChangeForm('login')">Log In</a>
              </label>
            </div>
          </div>
        </div>
      </div>
    </form>
  </div>



</div>