<div style="padding-bottom: 4%;">
    <div>
        <nav class="navbar navbar-expand-sm navbar-dark fixed-top bg-dark">
            <div class="container">
                <a class="navbar-brand" href="">
                    <img src="assets/images/Zuci-Logo.png" width="70" height="32" alt=""
                        class="d-inline-block align-top">

                </a>
                <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
                    <div class="navbar-nav">
                        <a class="nav-item nav-link active" href="#">Home</a>
                        <a class="nav-item nav-link" href="">Treatment</a>
                        <a class="nav-item nav-link" href="">History</a>
                    </div>
                </div>
            </div>
            <div class=" float-right">
                <div class="row">
                    <div class="col-md-4">
                        <img src="assets/images/profileimage.png" width="35" height="35" alt="">
                    </div>
                    <div class="col-md-8 header-right">
                        <span class="text-white">Sam Dario</span>
                    </div>
                </div>
            </div>
        </nav>
    </div>
</div>